body {
  text-align: center;
}

body:has(option[value="dark"]:checked){
  background-color: #000;
  filter: invert(1);
  -webkit-filter: invert(1);
}

h1 {
  color: #3b2a2a;
  font-family: Arial, sans-serif;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button:hover{
  opacity: 0.8;
}

#mensaje {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
